@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

body{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
}

/*====================================
            Helper classes
====================================*/
.h-full{
    min-height: 100vh;
}

.overflow-hidden{ overflow: hidden; }

.fw-100{ font-weight: 100; }
.fw-200{ font-weight: 200; }
.fw-300{ font-weight: 300; }
.fw-400{ font-weight: 400; }
.fw-500{ font-weight: 500; }
.fw-600{ font-weight: 600; }
.fw-700{ font-weight: 700; }
.fw-800{ font-weight: 800; }
.fw-900{ font-weight: 900; }


.color-white{ color: #ffffff; }
.color-black{ color: #000000; }
.color-1{ color: #333333; }
.color-2{ color: #fafafa; }


/*====================================
           Template Style
====================================*/
section{
    position: relative;
}
.background-image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.background-image:before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}